.faq-container {
  margin-top: 20px;
  margin-bottom: 40px;
}

.faq-heading {
  margin-bottom: 25px;
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
}

mat-expansion-panel {
  margin-bottom: 10px;
  border-radius: 4px;
  overflow: hidden;
}

mat-panel-title {
  color: var(--accent-color);
  font-weight: 500;
}

mat-expansion-panel-header {
  padding: 0 24px;
  height: auto !important;
  min-height: 55px !important;
}

p {
  margin: 10px 0;
  line-height: 1.6;
  color: var(--text-color);
}

@media screen and (max-width: 600px) {
  .faq-heading {
    font-size: 1.2rem;
  }
  
  mat-panel-title {
    font-size: 0.9rem;
  }
}
